<div class="home-row">
    <h2>Spruce is Full Stack App Development Ecosystem.</h2>
    <p>Build custom, regression-proof, production-quality apps at prototype speeds.</p>
</div>
<hr />
<div class="home-row">
    <h2>Everything Beautiful.</h2>
    <p>Built on the premise that if developers are given great tools, great software is inevitable.</p>
</div>
<hr />
<div class="home-row">
    <h2>Typescript &amp; NodeJS at Their Best.</h2>
    <p>Built on the premise that if developers are given great tools, great software is inevitable.</p>
</div>
<hr />
<div class="home-row">
    <div class="video">
        <video autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
            <source src="https://cli.spruce.bot/videos/testing.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<hr />