{% from "widgets/svg-icons.njk" import rocketshipIcon, craneIcon, toolPanelIcon, personReadingIcon, externalLinkIcon, helpIcon, dumbbelIcon, questionMark %}
<div id="home-tiles">
    {% linkTile "/getting-started/" | url, "home-tile" %}
      {{ toolPanelIcon() }}
      <div class="text-wrapper">
        <h2>1. Getting Started</h2>
        <p>Your journey starts with setting up the Development Theatre.</p>
      </div>
    {% endlinkTile %}
    {% linkTile "/ideology/" | url, "home-tile" %}
      {{ personReadingIcon() }}
      <div class="text-wrapper">
        <h2>2. Ideology</h2>
        <p>After setup, dive into the core principles upon which Spruce is built.</p>
      </div>
    {% endlinkTile %}

    {% linkTile "/concepts/" | url, "home-tile" %}
      {{ craneIcon() }}
      <div class="text-wrapper">
        <h2>3. Concepts</h2>
        <p>Now that you've got the core principles, let's talk about the building blocks.</p>
      </div>
    {% endlinkTile %}

    {% linkTile "/training/" | url, "home-tile" %}
      {{ dumbbelIcon() }}
      <div class="text-wrapper">
        <h2>4. Training</h2>
        <p>You've got the ideology, you get the concepts, it's time to get our hands dirty.</p>
      </div>
    {% endlinkTile %}

    {% linkTile "/help/" | url, "home-tile" %}
      {{ questionMark() }}
      <div class="text-wrapper">
        <h2>5. Help</h2>
        <p>Well that didn't go as expected. Review our help docs and join our Discord server.</p>
      </div>
    {% endlinkTile %}
</div>