{% from "widgets/svg-icons.njk" import rocketshipIcon, craneIcon, toolPanelIcon, personReadingIcon %}
<div id="home-tiles">
    {% linkTile "/getting-started/" | url, "home-tile" %}
      {{ personReadingIcon() }}
      <div class="text-wrapper">
        <h2>Getting Started</h2>
        <p>Start here to get up and running with Sprucebot.</p>
      </div>
    {% endlinkTile %}
    {% linkTile "/ideology/" | url, "home-tile" %}
      {{ toolPanelIcon() }}
      <div class="text-wrapper">
        <h2>Ideology</h2>
        <p>Delve deeper into the foundational principles that drive Sprucebot.</p>
      </div>
    {% endlinkTile %}

    {% linkTile "/concepts/" | url, "home-tile" %}
      {{ craneIcon() }}
      <div class="text-wrapper">
        <h2>Concepts</h2>
        <p>Gain a solid understanding of the fundamental concepts around Sprucebot.</p>
      </div>
    {% endlinkTile %}

    {% linkTile "/dev-onboarding/" | url, "home-tile" %}
      {{ rocketshipIcon() }}
      <div class="text-wrapper">
        <h2>Developer Onboarding</h2>
        <p>Onboarding materials that ensure a seamless initiation process into the Sprucebot ecosystem.</p>
      </div>
    {% endlinkTile %}

    {% linkTile "/training/" | url, "home-tile" %}
      {{ personReadingIcon() }}
      <div class="text-wrapper">
        <h2>Training</h2>
        <p>Learn how to use Sprucebot to its full potential.</p>
      </div>
    {% endlinkTile %}

    {% linkTile "/help/" | url, "home-tile" %}
      {{ rocketshipIcon() }}
      <div class="text-wrapper">
        <h2>Help</h2>
        <p>Get help with Sprucebot.</p>
      </div>
    {% endlinkTile %}
</div>