{% from "widgets/svg-icons.njk" import downArrowHead, mdiSearch %}

{% macro mainNavTree(mainNavData, page) %}
{% set activeParent = mainNavData.getActiveParentLink(page.url) %}
<nav id="main-nav">
  <ul class="nav-top-level">
    <li id="mobile-search">
      <a href="{{ '/search/' | url }}" title="Search the site">{{ mdiSearch() }}</a>
      <a href="{{ '/getting-started/' | url }}" class="btn-text">Getting Started</a>
      <a href="{{ '/ideology/' | url }}" class="btn-text">Ideology</a>
      <a href="{{ '/training/' | url }}" class="btn-text">Training</a>
      <a href="{{ '/concepts/' | url }}" class="btn-text">Concepts</a>
      <a href="{{ '/help/' | url }}" class="btn-text">Help</a>
    </li>
    {% for topLink in mainNavData.links %}
    {% set isCurrentParent = topLink.url == activeParent.url %}
    {# {% if isCurrentParent %} #}
    <li class="{% if isCurrentParent %}is-current{% endif %} top" data-is-current-parent="{% if isCurrentParent %}true{% endif %}" aria-current="page">
      <a href="{{ topLink.url | url }}" {{ 'target=_blank' if topLink.external }}>
        <span>
          {{ topLink.title }}
        </span>
      </a>
      {% if topLink.hasChildren %}
      <!--<button class="clear-btn up-arrow" data-children-opener>
        {{ downArrowHead() }}
      </button>-->
      <ul class="nav-child-level open">
        {% for childLink in topLink.children %}
        <li {% if childLink.url==page.url %} aria-current="page" {% endif %}>
          <a href="{{ childLink.url | url }}" {{ 'target=_blank' if childLink.external }}>
            <span>
              {{ childLink.title }}
            </span>
          </a>
          {% if childLink.hasChildren %}
          <button class="clear-btn up-arrow" data-grandchildren-opener>
            {{ downArrowHead() }}
          </button>
          <ul class="nav-grandchild-level">
            {% for grandchildLink in childLink.children %}
            <li {% if grandchildLink.url==page.url %} aria-current="page" {% endif %}>
              <a href="{{ grandchildLink.url | url }}" {{ 'target=_blank' if grandchildLink.external }}>
                <span>{{ grandchildLink.title }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {# {% endif %} #}
    {% endfor %}
  </ul>
</nav>
{% endmacro %}

{% macro headerNavList(headerNavData, page) %}
{% set activeParent = headerNavData.getActiveParentLink(page.url) %}
<nav id="header-nav">
  <ul>
    {% for link in headerNavData.links %}
    <li {% if link.url==activeParent.url %} data-is-current-parent="true" {% endif %}>
      <a href="{{ link.url | url }}">{{ link.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endmacro %}