<h3 class="mt-24 text-base font-bold tracking-tight text-slate-900">
  Have questions?
</h3>

<p class="text-slate-900">
   <a href="mailto:{{ metadata.supportEmail }}" class="underline hover:no-underline">Talk to Support</a>.
</p>
