---
layout: base-layout.njk
layoutId: default-page-type
surpressH1InLayout: false
---
{% from "widgets/navigation.njk" import mainNavTree %}
<div class="side-bar">
  {{ mainNavTree(navigation.mainNav, page) }}
</div>
{% renderlayoutblock "abovePageWrap" %}{% endrenderlayoutblock %}
<div class="main-area {{ navigation.mainNav.getActiveParentLink(page.url).url | replace("/", "") }}">
  {% if not surpressH1InLayout %}
  {% if title %}<h1>{{ title }}</h1>{% endif %}
  {% endif %}
  {{ content | safe }}
</div>

<div class="header-full-bg"></div>
<div class="footer-full-bg"></div>
<div class="sidebar-right-bg"></div>
