<h3 class="mt-16 text-base font-bold tracking-tight text-slate-900">
  Quick Access
</h3>

<ul class="mt-4 grid grid-cols-1 gap-6 sm:grid-cols-2">
  <li>
    <a href="/docs/dev/rootskillview" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Building RootSkillView
      </h4>

      <p class="text-slate-600">
       Learn how to build skill views and implement dynamic routing.
      </p>
    </a>
  </li>

  <li>
    <a href="/docs/dev/rootskillview" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
       Managing your Metadata
      </h4>

      <p class="text-slate-600">
        Learn how to manage your metadata.
      </p>
    </a>
  </li>

  <li class="">
    <a href="/docs/dev/rootskillview" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Kata 3
      </h4>

      <p class="text-slate-600">
        ...
      </p>
    </a>
  </li>

  <li class="">
    <a href="/docs/dev/rootskillview" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Kata 4
      </h4>

      <p class="text-slate-600">
        ...
      </p>
    </a>
  </li>
</ul>
