<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <style>
    /* Protect against initial flash of unstyled content */
    img {
      width: 24px;
    }
  </style>

  {% if site.environment == "production" %}
  <link rel="stylesheet" href="{{ '/styles/site.min.css' | url }}" />
  {% else %}
  <link rel="stylesheet" href="{{ '/styles/site.css' | url }}" />
  {% endif %}
  <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | url }}" type="image/x-icon">
  <link href="{{ '/styles/atom-theme.min.css' | url }}" rel="stylesheet">

  <script defer="true" src="{{ '/scripts/index.js' | url }}"></script>
</head>