<h3 class="mt-16 text-base font-bold tracking-tight text-slate-900">
  Quick Access
</h3>

<ul class="mt-4 grid grid-cols-1 gap-6 sm:grid-cols-2">
  <li>
    <a href="/docs/dev/rootskillview" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Kata 1
      </h4>

      <p class="text-slate-600">
       This Kata Number 1
      </p>
    </a>
  </li>

  <li>
    <a href="/docs/dev/rootskillview" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
       Kata 2
      </h4>

      <p class="text-slate-600">
        This Kata Number 2
      </p>
    </a>
  </li>

  <li class="">
    <a href="/docs/dev/rootskillview" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Kata 3
      </h4>

      <p class="text-slate-600">
        This is Kata Number 3
      </p>
    </a>
  </li>

  <li class="">
    <a href="/docs/dev/rootskillview" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Kata 4
      </h4>

      <p class="text-slate-600">
        This is Kata Number 4
      </p>
    </a>
  </li>
</ul>
