<h3 class="mt-16 text-base font-bold tracking-tight text-slate-900">
  Navigate through the Ideology
</h3>

<ul class="mt-4 grid grid-cols-1 gap-6 sm:grid-cols-2">
  <li>
    <a href="/docs/concepts/concept-1/" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Ideology 1
      </h4>

      <p class="text-slate-600">
       This Ideology Number 1
      </p>
    </a>
  </li>

  <li>
    <a href="/docs/concepts/concept-2" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
       Ideology 2
      </h4>

      <p class="text-slate-600">
        This Ideology Number 2
      </p>
    </a>
  </li>

  <li class="">
    <a href="/docs/concepts/concept-3/" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Ideology 3
      </h4>

      <p class="text-slate-600">
        This is Ideology Number 3
      </p>
    </a>
  </li>

  <li class="">
    <a href="/docs/concepts/concept-4" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Ideology 4
      </h4>

      <p class="text-slate-600">
        This is Ideology Number 4
      </p>
    </a>
  </li>
</ul>
