<h3 class="mt-16 text-base font-bold tracking-tight text-slate-900">
  Get Started
</h3>

<ul class="mt-4 grid grid-cols-1 gap-6 sm:grid-cols-2">
  <li>
    <a href="/docs/ideology" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Ideology
      </h4>

      <p class="text-slate-600">
        Delve deeper into the foundational principles that drive Sprucebot. Gain understanding of the philosophy, core belief, and the vision that underpins Sprucebot.
      </p>
    </a>
  </li>

  <li>
    <a href="/docs/concepts" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Concepts
      </h4>

      <p class="text-slate-600">
        Gain a solid understanding of the fundamental concepts around Sprucebot. This section offers a deep dive into Sprucebot architecture, functionalities, and key features.
      </p>
    </a>
  </li>

  <li>
    <a href="/docs/dev" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        DX Onboarding
      </h4>

      <p class="text-slate-600">
        Whether you're a seasoned developer or just starting out, our onboarding materials ensure a seamless initiation process into the Sprucebot ecosystem.
      </p>
    </a>
  </li>

  <li class="">
    <a href="#" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Additional Resources
      </h4>

      <p class="text-slate-600">
        Resources, tutorials, and articles that will further empower your development journey with Sprucebot.          
      </p>
    </a>
  </li>
</ul>
