---
title: Developer Portal
layout: default-page-layout.njk
pageStyleId: home-page
surpressH1InLayout: true
---

{% layoutblock "abovePageWrap" %}
<div id="page-bg" role="presentation"></div>
<section id="greeting">
  <div id="greeting-bg"></div>
  <h1>Build Great Software Fast!</h1>
  <p>Get started in the way that's most familiar to you:</p>
  <div id="buttons">
    <a class="btn" href="{{ '/getting-started/from-scratch/' | url }}">From Scratch</a>
    <a class="btn" href="{{ '/getting-started/frameworks/ios/' | url }}">IOS</a>
    <a class="btn" href="{{ '/getting-started/frameworks/android/' | url }}">Android</a>
    <a class="btn" href="{{ '/getting-started/frameworks/ruby/' | url }}">Ruby</a>
    <a class="btn" href="{{ '/getting-started/frameworks/laravel/' | url }}">Laravel</a>
    <a class="btn" href="{{ '/getting-started/frameworks/react/' | url }}">React</a>
    <a class="btn" href="{{ '/getting-started/frameworks/django/' | url }}">Django</a>
    <a class="btn" href="{{ '/getting-started/frameworks/flask/' | url }}">Flask</a>
    <a class="btn" href="{{ '/getting-started/frameworks/spring/' | url }}">Spring</a>
    <a class="btn" href="{{ '/getting-started/frameworks/groovy/' | url }}">Groovy</a>
    <a class="btn" href="{{ '/getting-started/frameworks/dot-net/' | url }}">.NET</a>
  </div>
</section>
{% endlayoutblock %}
{% include "src/pages/_includes/widgets/home-rows.njk" %}
{% include "src/pages/_includes/widgets/home-tiles.njk" %}
<hr>