---
title: Developer Portal
layout: default-page-layout.njk
pageStyleId: home-page
surpressH1InLayout: true
---

{% layoutblock "abovePageWrap" %}
<div id="page-bg" role="presentation"></div>
<section id="greeting">
  <div id="greeting-bg"></div>
  <h1>Hello!</h1>
  <p>Welcome to the developer portal of the Lumena Platform, powered by Sprucebot.</p>
  <p>This guide is designed to be a self-serve tool that will enable both individuals and teams to use, develop, and
    expand on the Lumena Platform.</p>
  <h1>Get Started</h1>
  <p>Access the Quick Start Guide if you're coming from one the following frameworks:</p>
  <div id="buttons">
    <a class="btn" href="{{ '/getting-started/frameworks/ios/' | url }}">IOS</a>
    <a class="btn" href="{{ '/getting-started/frameworks/android/' | url }}">Android</a>
    <a class="btn" href="{{ '/getting-started/frameworks/ruby/' | url }}">Ruby</a>
    <a class="btn" href="{{ '/getting-started/frameworks/python/' | url }}">Python</a>
    <a class="btn" href="{{ '/getting-started/frameworks/laravel/' | url }}">Laravel</a>
    <a class="btn" href="{{ '/getting-started/frameworks/react/' | url }}">React</a>
    <a class="btn" href="{{ '/getting-started/frameworks/django/' | url }}">Django</a>
    <a class="btn" href="{{ '/getting-started/frameworks/flask/' | url }}">Flask</a>
    <a class="btn" href="{{ '/getting-started/frameworks/spring/' | url }}">Spring</a>
    <a class="btn" href="{{ '/getting-started/frameworks/groovy/' | url }}">Groovy</a>
  </div>
</section>
{% endlayoutblock %}
{% include "src/pages/_includes/widgets/home-tiles.njk" %}
<hr>