---
title: Developer Portal
layout: default-page-layout.njk
pageStyleId: home-page
surpressH1InLayout: true
---

{% layoutblock "abovePageWrap" %}
<div id="page-bg" role="presentation">
</div>

<section id="greeting">
  <div id="greeting-bg">
  </div>

  <h1>Developer Portal</h1>
  <p>Welcome to the developer portal of the Lumena Platform, powered by Sprucebot.</p>
  <p>This guide is designed to be a self-serve tool that will enable both individuals and teams to use, develop, and expand on the Lumena Platform.</p>
  <a class="btn" href="/get-started/">Get Started</a>
</section>
{% endlayoutblock  %}

{% include "src/pages/_includes/widgets/home-tiles.njk" %}

<hr>