---
title: Search Docs...
layout: default-page-layout.njk
pageStyleId: search
---

<link href="{{ '/pagefind/pagefind-ui.css' | url }}" rel="stylesheet">
<script src="{{ '/pagefind/pagefind-ui.js' | url }}" type="text/javascript"></script>

<div id="search"></div>
<script defer="true" src="{{ '/scripts/page-search.js' | url }}"></script>