<h3 class="mt-16 text-base font-bold tracking-tight text-slate-900">
  Navigate through the Concepts
</h3>

<ul class="mt-4 grid grid-cols-1 gap-6 sm:grid-cols-2">
  <li>
    <a href="/docs/concepts/views" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Views
      </h4>

      <p class="text-slate-600">
       Introduction to Views in Sprucebot
      </p>
    </a>
  </li>

  <li>
    <a href="/docs/concepts/tests" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
      Tests
      </h4>

      <p class="text-slate-600">
        Testing in Spruce
      </p>
    </a>
  </li>

  <li class="">
    <a href="/docs/concepts/stores" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        Stores
      </h4>

      <p class="text-slate-600">
        Data Stores - The Technical Backbone of Spruce
      </p>
    </a>
  </li>

  <li class="">
    <a href="/docs/concepts/events" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
       Events
      </h4>

      <p class="text-slate-600">
        Spruce Events and Mercury Event Engine
      </p>
    </a>
  </li>
</ul>
