{% from "widgets/svg-icons.njk" import discordMarkIcon, homeIcon, githubLogo, mdiSearch %}
{% from "widgets/assorted-bits.njk" import hamburgerButton %}
{% from "widgets/navigation.njk" import headerNavList %}
<header id="page-header">
  <div id="page-header-top">
    <div id="logo-space">
      <a href="{{ '/' | url }}" id="home-link">
        <picture>
          <source srcset="{{ '/assets/img/logo.png' | url }}" media="(min-width: 900px)">
            <img src="{{ '/assets/img/logo.png' | url }}" alt="logo"></picture>
          </a>
          <a href="/">Developer Portal</a>
        </div>
        {{ headerNavList(navigation.headerNav, page) }}
        {{ hamburgerButton() }}
      </div>
      <div id="page-header-bar">
        <nav id="other-nav">
          <a href="{{ '/search/' | url }}" title="Search the site">{{ mdiSearch() }}</a>
        </nav>
      </div>
    </header>