/* Imports */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// global font sizes vars
$fs-extra-smaller: 13px;
$fs-smaller: 14px;
$fs-primary: 16px;
$fs-bigger: 20px;

// local font sizes
$fs-footer-col-header: 14px;
$fs-footer-smaller: $fs-smaller;

html {

  body {
    font-family: "Montserrat", sans-serif;
    font-size: $fs-primary;
    line-height: 1.5em;
    font-optical-sizing: auto;
    font-style: normal;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Montserrat", sans-serif;
  }
}